/* Cadastrar Cliente */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Rationale", sans-serif;
}
h1{
    width: 100%;
    height: 100%;
    text-align: center;

    font-family: Rationale;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;

    color: #AC62F7;
}

body{
    background: #1E1E1E;
}


label{
    color: white;
    font-family: Rationale;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    position: relative;
    width: 100%;
    height: 100%;
    left: 61px;
}
input{
    position: relative;
    width: 50rem;
    height: 1.5rem;
    left: 61px;

    font-size: 1.9rem;
}

.nav{
    top: 505px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    position: absolute;
    height: 80px;
    left: 30rem;
    top: 600px;

}

.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;

    margin-right: 3rem;
    margin-top: 1.5rem;
    justify-content: space-between;
    
}

.nav li a{
    color: white;
    background-color: #AC62F6;
    border:1px solid #AC62F6;

    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-weight:bold;
    font-size: 2rem;
    padding:6px 10px;
    text-decoration:none;

}

.nav li a:hover{
    color: #333333;
    font-size: 2.1rem;
    opacity: 10;
}
