:root
{
--purple: #ac72ff;
--purple2: #ac62f6;
--white: #ffffef;
--black: #1e1e1e;
}

@font-face
{
  font-family: Rationale;
  src: url(../res/Rationale/Rationale-Regular.ttf);
}

*
{
  margin: 0px;
  padding: 0px;
}

body
{
  width: 100vw;

  background-color: var(--black);
  font-family: Rationale;

  overflow-x: hidden;
}

header
{
  width: 100%;
  height: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1
{
  color: var(--purple);

  margin-top: 1rem;

  font-size: 5rem;
  font-weight: 800;
}

header p
{
  color: var(--white);
  margin-bottom: 1rem;

  font-size: 2rem;
  font-weight: 600;
}
